<%= form_for @workshop do |f| %>
<% if @workshop.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <% if controller.action_name == 'edit'%>
    <h3> Skills: </h3>
    <% if @workshop.skills.size == 0 %>
        No skills found.
    <% else %>
      <div class="form-group checkbox-list well">
        <%= f.collection_check_boxes :skill_ids, @workshop.skills, :id, :title %>
      </div>
    <%end%>
  <%end%>

  <h4>Create new skill(s): <h4>
  <div class="form-group">
    <%= f.nested_fields_for :skills, @workshop.skills.build do |skills_fields| %>
      <%= skills_fields.remove_nested_fields_link %>

      <%=skills_fields.label :title %>
      <%=skills_fields.text_field :title %>

      <%=skills_fields.label :content %>
      <%=skills_fields.text_field :content %>
    <% end %>
    <%= f.add_nested_fields_link :skills %>
  </div>

  <div class="actions">
   <%= f.submit %>
 </div>

<% end %>
