<%= form_for @user do |f| %>
  <h4><%= f.label :name %>
  <%= f.text_field :name %> </h4>

  <h4><%= f.label 'Skills:' %> </h4>
  <% Workshop.all.each do |workshop| %>
    <h5>Workshop: <%= f.label workshop.name %> </h5>

    <div class="form-group checkbox-list well">
      <%= f.collection_check_boxes :skill_ids, workshop.skills, :id, :title %>
    </div>
  <% end %>
  <br>
  <%= f.submit "Update User" %>
<% end %>
