<div class="form-group">

<%= form_for [@workshop, @user] do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag 'workshop_id', @workshop.id %>

  <div class="field">
    <h4><%= f.label :name %>
    <%= @user.name %> </h4>
  </div>

  <h4><%= f.label 'Skills:' %> </h4>
  <h5>Workshop: <%= f.label @workshop.name %> </h5>
  <div class="well">
    <%= f.collection_check_boxes(:skill_ids, @workshop.skills, :id, :title) do |b| %>
      <ul>

      <% if f.object.skills.include?(b.object) %>
        <%= b.label(:"data-value" => b.value) %>
        <%= f.fields_for :user_skills do |ff| %>
            <% if ff.object.skill == b.object %>
              <%= ff.select(:skill_level, [:novice, :pro, :expert]) %>
            <% end %>
        <% end %>
      <% else %>
      <%=  b.label(:"data-value" => b.value) { b.check_box + b.text } %>
      <%end%>
      </ul>
    <% end %>
  </div>

  <br>
  <%= f.submit "Update User" %>
<% end %>

</div>
