<%= form_for [@workshop, @skill] do |f| %>
<% if @skill.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= f.hidden_field :workshop_id %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <br>
  <div class="field">
    <%= f.label "Which workshop is this for?" %>
    <%= f.collection_radio_buttons :workshop_id, Workshop.all, :id, :name do |b| %>
      <%= b.label(class: 'card') {b.radio_button + b.text}%>
    <%end%>
  </div>

  <% if controller.action_name == 'new'%>
    <%= f.submit "Create New Skill", url: new_workshop_skill_path(@workshop, @skill) %>
  <% else%>
    <%= f.submit "Update Skill", url: edit_workshop_skill_path(@workshop, @skill)  %>
    <%= link_to "Remove Skill", workshop_skill_path(@workshop, @skill), :method => :delete, class: "btn btn-danger"  %>
  <%end%>
<%end%>
