<!DOCTYPE html>
<html>
<head>
  <title>Makerspace Authorization</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <!-- <div class='row search'>
      <form method='POST' action='/users/search_by'>
      	<label>Search Members:</label>
      	 <select name='field'>
      		 <% User.attribute_names.each do |attr| %>
      				<% if attr == 'fullname' %>
      					<option value='fullname' selected='selected'> Full Name </option>
      				<% else %>
      					<option value='<%=attr%>'><%=attr%></option>
      				<% end %>
      		<%end%>
      		Value: <input type='text' name='value'>
      		<input type='submit' name='Search'>
      </form>
    </div> -->
    
    <div class="row">
      <%= render 'layouts/navigation' %>
    </div> <!--navbar row-->

    <div class='row'>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
	  </div>
  </div>
</body>
</html>
